.tab-box {
  border: 1px var(--color4a) solid;
}
.information-box {
  width: 70%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  // gap: 5rem;
}
.text-field-title {
  width: 10rem;
}
