:root {
  --color1: #1c2e4f; /* TEXT BLUE BLACK*/
  --color2: #858c97; /* SECONDARY COLOR*/
  --color3: #ffffff; /* TEXT BRIGHT*/
  --color4: #069a8e; /* GREEN LIGHT*/
  --color4a: #005555; /* GREEN DARK*/
  --color5: #fce01a; /* YELLOW*/
  --color6: #cf4217; /* RED PRICE*/
  --disable-color: #858c97;
  --alpha: 0.8;
}

/* #element {
  background-color: rgba(var(--color), var(--alpha));
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background-color: var(--color2);
  font-family: "Roboto";
}

html {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
